:root {
    --blue: #4c5e63;
    --cream: #ffffff; 
    --yellow: #bd793c;
    --red: #892b0D;
}

.name-h1 {
    font-family: 'Rubik';
    font-weight: 'bold';
    font-size: 64px;
    line-height: 85px;
    color: #E89246;
}

.name-h1:hover {
    font-family: 'Rubik';
    font-weight: 'bold';
    font-size: 64px;
    line-height: 85px;
    color: #E89246;
    opacity: 0.5;
}

.color-line {
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 8px;
    margin-right: 0px;
}

.navigate-button {
    font-family: 'Rubik';
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    font-style: normal;
}

.navigate-button:hover {
    color: #FFFFFF;
    font-family: 'Rubik';
    font-size: 32px;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
}

.big-tub {

    background: #FFFBF6;
    border-radius: 10px;
    height: 500px;
    margin-right: 5%;
}

.img-me {
    display: block;
    width: 40%;
    border-radius: 10px;
    margin-left: 10px;
    float: left;

    position:relative;
    top:60px;
    left:-30px;
}

.intro-text {
    font-family: 'Rubik';
    font-style: normal;
    font-size: 12px;
    font-weight: normal;

    color: #5A5A5A;
}

.intro-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 39px;

    color: #5A5A5A;
}

.intro-box {
    display: block;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 50px;
}

.header-h1 {
    color: white;
    font-family: 'Rubik';
    font-weight: 'bold';
    padding-left: 25px;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    float: left;
}

.top-container {
    background-color: #393635;
    float: left;
    width: 100%;
    box-shadow: 0px 2px 15px #100F0E;
}

.bottom-container {
    width: 100%;
    clear: both;
}

.body-text {
    color: white;
    font-family: 'Roboto';
}

.img-circle {
    display: block;
    width: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 5px #100F0E;
}

.img-about {
    display: block;
    width: 500px;
    margin-left: 20px;
    float: left;
}

.link-icon {
    width: 30px;
    margin-left: 5px;
    margin-right: 10px;
}

.column-left {
    float: left;
    width: 30%;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
}

.column-right {
    float: left;
    padding-top: 5%;
    margin-left: 60px;
    width: 60%;
}

.row-div {
    display: flex;
    flex-direction: row;
}

.project-image-div {
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 15%;
    padding-right: 10px;
}

.project-div {
    background-color: #393635;
    box-shadow: 0px 5px 7px #100F0E;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 30%;
}

.project-div-inner {
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.project-link-icon {
    width: 25px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.project-h1 {
    color: white;
    font-family: 'Nunito Sans';
    font-weight: 'bold';
    font-size: 24px;
}

.project-subtitle {
    color: #62CCC6;
    font-family: 'Nunito Sans';
    font-weight: 'bold';
    font-size: 20;
}

.project-lang {
    font-size: 14px;
    color: #62CCC6;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}
